* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  background-color: #0d0630;
  color: white;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  background-color: #384e77;
  padding: 3rem;
  width: 40rem;
  border-radius: 1rem;
}

form {
  margin-bottom: 2rem;
}

form section {
  margin-bottom: .8rem;
}

form input {
  padding: .3rem;
  border-radius: .5rem;
}

form select {
  padding: .4rem;
}

form button {
  margin-top: 2rem;
  width: 100%;
  padding: .5rem;
  border: 1px solid #8bbeb2;
  background-color: #8bbeb2;
  font-size: 1rem;
  color: #000;
  border-radius: .5rem;
  letter-spacing: .1rem;
}

form button:hover {
  background-color: #384e77;
  color: #8bbeb2;
  cursor: pointer;
}